#  Practica de limpieza de texto con pandas - SoluciÃ³n

#### Por Jose R. Zapata - https://joserzapata.github.io/


> **Objetivo**: practicar mÃ©todos de `pandas.Series.str` para limpiar y normalizar texto en DataFrames.
> Cada ejercicio incluye un **Enunciado** y una celda donde se ve el resultado de la soluciÃ³n.



**Referencias:**
- Procesamiento bÃ¡sico de texto (curso de NLP): https://joserzapata.github.io/courses/nlp/procesamiento-basico/
- DocumentaciÃ³n de `pandas.Series.str`: https://pandas.pydata.org/docs/reference/series.html#string-handling

## InstalaciÃ³n de dependencias

instala e importa las librerias que necesites para ejecutar los ejercicios, por ejemplo para instalar Jupyter usa:

```bash
uv add jupyter
```

In [1]:
# Copie su cÃ³digo aca

In [1]:
import pandas as pd

## Conjuntos de datos de juguete
Creamos 4 DataFrames para practicar distintas tareas de limpieza: texto general, tweets, productos y personas.

In [ ]:
## Texto general
df_texto = pd.DataFrame(
    {
        "texto": [
            "  Â¡Hola Mundo!!!  Esto es   un EJEMPLO: visita https://miweb.com  #DataScience  :)  ",
            "Pandas > numpy? ğŸ¤”  Email: persona@example.com   ",
            "Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan",
            "Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123",
            "      TABLAS\t, \n espacios   y saltos de lÃ­nea.\r\n",
            "TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44",
            "DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica",
            "Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",
        ]
    }
)

## Tweets
df_tweets = pd.DataFrame(
    {
        "tweet": [
            "RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python",
            "Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š",
            "Probando cosas en Jupyter... sin link ni hashtag",
            "@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml",
            "Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data",
        ]
    }
)

## Productos y precios
df_productos = pd.DataFrame(
    {
        "producto": [
            "Camisa talla M",
            "PantalÃ³n-XL",
            "Zapato, Talla: 42",
            "Blusa s",
            "Medias 10-12",
            "Polo Talla l",
            "Vestido - 36",
            "Sombrero (talla Ãšnica)",
        ],
        "precio": [
            "$1.234,50",
            "USD 45",
            "30,00 â‚¬",
            "25.000",
            "$ 0",
            "S/. 120.90",
            "COP 9.990",
            "AR$ 2.550,00",
        ],
    }
)

## Personas, respuestas y direcciones
df_personas = pd.DataFrame(
    {
        "nombre": [
            "ana MarÃ­a LOPEZ",
            "Juan  perez",
            "Ã‘andÃº   GÃ³mez",
            "Miguel (Soporte)",
            "  MÃ“NICA de la CRUZ  ",
            "luis-delgado",
        ],
        "categoria": ["SÃ­", "si", "SI ", "No", "â€”", None],
        "direccion": [
            "Calle 45 # 12-34, BogotÃ¡",
            "Av. Siempre Viva 742 - Lima",
            "Cll. 10 No. 5-20 MedellÃ­n",
            "Cra 7a # 45-60, BogotÃ¡",
            "Av. 9 #12-34  Cali",
            "Av. Insurgentes Sur 1234, CDMX",
        ],
        "id_raw": [
            "abc-0001",
            "abc 001",
            "ABC0002",
            "Abc_003",
            "abc-00004",
            "ABC-0005",
        ],
    }
)

In [4]:
print("df_texto:")
display(df_texto)
print("\ndf_tweets:")
display(df_tweets)
print("\ndf_productos:")
display(df_productos)
print("\ndf_personas:")
display(df_personas)

df_texto:

                                               texto
0    Â¡Hola Mundo!!!  Esto es   un EJEMPLO: visita...
1   Pandas > numpy? ğŸ¤”  Email: persona@example.com
2  Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3  Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...
4        TABLAS\t, \n espacios   y saltos de lÃ­ne...
5  TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...
6  DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...
7         Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦

df_tweets:

                                               tweet
0  RT @maria: Nuevo post en el blog -> http://blo...
1  Â¡Me encanta Pandas! #datos #Python https://exa...
2   Probando cosas en Jupyter... sin link ni hashtag
3  @juan y @ana lanzaron curso de NLP en https://...
4  Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://for...

df_productos:

                 producto        precio
0          Camisa talla M     $1.234,50
1             PantalÃ³n-XL        USD 45
2       Zapato, Talla: 42       30,00 â‚¬
3                 Blusa s        25.000
4            Medias 10-12           $ 0
5            Polo Talla l    S/. 120.90
6            Vestido - 36     COP 9.990
7  Sombrero (talla Ãšnica)  AR$ 2.550,00

df_personas:

                  nombre categoria                       direccion     id_raw
0        ana MarÃ­a LOPEZ        SÃ­        Calle 45 # 12-34, BogotÃ¡   abc-0001
1            Juan  perez        si     Av. Siempre Viva 742 - Lima    abc 001
2          Ã‘andÃº   GÃ³mez       SI        Cll. 10 No. 5-20 MedellÃ­n    ABC0002
3       Miguel (Soporte)        No          Cra 7a # 45-60, BogotÃ¡    Abc_003
4    MÃ“NICA de la CRUZ           â€”              Av. 9 #12-34  Cali  abc-00004
5           luis-delgado      None  Av. Insurgentes Sur 1234, CDMX   ABC-0005

## InspecciÃ³n rÃ¡pida

- Explora los cuatro DataFrames
- Identifica quÃ© columnas requieren **limpieza textual** y por quÃ© (espacios, acentos, emojis, URLs, etc.).
- Escribe un breve comentario (como comentario en la celda) con tus observaciones.

In [5]:
# Copie su cÃ³digo aca
df_texto.info()
df_tweets.info()
df_productos.info()
df_personas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   texto   8 non-null      object
dtypes: object(1)
memory usage: 196.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   producto  8 non-null      object
 1   precio    8 non-null      object
dtypes: object(2)
memory usage: 260.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombre     6 non-null      object
 1   categoria  5 non-null      object
 2   direccion  6 non-null      object
 3   id_raw     6 non-null      object
dtypes: object(4)
memory usage: 324.0+ bytes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   texto   8 non-null      object
dtypes: object(1)
memory usage: 196.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   producto  8 non-null      object
 1   precio    8 non-null      object
dtypes: object(2)
memory usage: 260.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombre     6 non-null      object
 1   categoria  5 non-null      object
 2   direccion  6 non-null      object
 3   id_raw     6 non-null      object
dtypes: object(4)
memory usage: 324.0+ bytes

## 1) Normaliza a minÃºsculas

En el DataFrame `df_texto`, crea una nueva columna `texto_min` que contenga el texto de la columna `texto` en minÃºsculas.

In [ ]:
# Copie su cÃ³digo aca
df_texto["texto_min"] = df_texto["texto"].str.lower()
display(df_texto)

,texto,texto_min
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,Â¡hola mundo!!! esto es un ejemplo: visita...
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­ne..."
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

,texto,texto_min
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita https://miweb.com #DataScience :),Â¡hola mundo!!! esto es un ejemplo: visita https://miweb.com #datascience :)
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #cafÃ© #colombia @juan
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo: a-123
4,"TABLAS\t, \n espacios y saltos de lÃ­nea.\r\n","tablas\t, \n espacios y saltos de lÃ­nea.\r\n"
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300 222 33 44
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la amÃ©rica
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

## 2) Eliminar Espacios

Genera  la columna `texto_espacios` eliminando espacios al inicio/fin

In [ ]:
# Copie su cÃ³digo aca
df_texto["texto_espacios"] = df_texto["texto_min"].str.strip()
display(df_texto)

,texto,texto_min,texto_espacios,texto_sin_punct
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,Â¡hola mundo!!! esto es un ejemplo: visita...,Â¡hola mundo!!! esto es un ejemplo: visita h...,Hola Mundo Esto es un EJEMPLO visita httpsm...
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com,Pandas numpy Email personaexamplecom
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,Me gusta el cafÃ© colombiano es buenÃ­simo CafÃ© ...
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,Oferta 3x2 en jabÃ³n lÃ­quido 500ml CÃ“DIGO A123
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­nea.",TABLAS\t \n espacios y saltos de lÃ­nea
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,TelÃ©fono 57 3001234567 Whatsapp 57 300 222 33 44
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,DirecciÃ³n Cll 10 520 MedellÃ­n Barrio La AmÃ©rica
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",Emoji test sÃ­mbolos y otros

,texto_espacios,texto_min
0,Â¡hola mundo!!! esto es un ejemplo: visita https://miweb.com #datascience :),Â¡hola mundo!!! esto es un ejemplo: visita https://miweb.com #datascience :)
1,pandas > numpy? ğŸ¤” email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com
2,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #cafÃ© #colombia @juan,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #cafÃ© #colombia @juan
3,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo: a-123,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo: a-123
4,"tablas\t, \n espacios y saltos de lÃ­nea.","tablas\t, \n espacios y saltos de lÃ­nea.\r\n"
5,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300 222 33 44,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300 222 33 44
6,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la amÃ©rica,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la amÃ©rica
7,"emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦"

## 3) PuntuaciÃ³n

Crea `texto_sin_punct` removiendo puntuaciÃ³n y sÃ­mbolos, conservando letras y espacios.

In [ ]:
# Copie su cÃ³digo aca
df_texto["texto_sin_punct"] = df_texto["texto_espacios"].str.replace(
    r"[^\w\s]", "", regex=True
)
display(df_texto)

,texto,texto_min,texto_espacios,texto_sin_punct
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,Â¡hola mundo!!! esto es un ejemplo: visita...,Â¡hola mundo!!! esto es un ejemplo: visita h...,hola mundo esto es un ejemplo visita httpsm...
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com,pandas numpy email personaexamplecom
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano es buenÃ­simo cafÃ© ...
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,oferta 3x2 en jabÃ³n lÃ­quido 500ml cÃ³digo a123
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­nea.",tablas\t \n espacios y saltos de lÃ­nea
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,telÃ©fono 57 3001234567 whatsapp 57 300 222 33 44
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,direcciÃ³n cll 10 520 medellÃ­n barrio la amÃ©rica
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test sÃ­mbolos y otros

In [ ]:
df_texto["texto_sin_punct"]

0    hola mundo  esto es   un ejemplo visita httpsm...
1              pandas  numpy   email personaexamplecom
2    me gusta el cafÃ© colombiano es buenÃ­simo cafÃ© ...
3       oferta 3x2 en jabÃ³n lÃ­quido 500ml  cÃ³digo a123
4             tablas\t \n espacios   y saltos de lÃ­nea
5     telÃ©fono 57 3001234567 whatsapp 57 300 222 33 44
6     direcciÃ³n cll 10  520 medellÃ­n barrio la amÃ©rica
7                        emoji test  sÃ­mbolos  y otros
Name: texto_sin_punct, dtype: object

## 4) Acentos

Elimina los acentos de las vocales del texto `df_texto` y grÃ¡balo en una nueva columna `texto_sin_acentos`.

In [ ]:
# Copie su cÃ³digo aca
df_texto["texto_sin_acentos"] = df_texto["texto_sin_punct"].replace(
    {"Ã¡": "a", "Ã©": "e", "Ã­": "i", "Ã³": "o", "Ãº": "u", "Ã¼": "u"}, regex=True
)
display(df_texto)

,texto,texto_min,texto_espacios,texto_sin_punct,texto_sin_acentos
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,Â¡hola mundo!!! esto es un ejemplo: visita...,Â¡hola mundo!!! esto es un ejemplo: visita h...,hola mundo esto es un ejemplo visita httpsm...,hola mundo esto es un ejemplo visita httpsm...
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com,pandas > numpy? ğŸ¤” email: persona@example.com,pandas numpy email personaexamplecom,pandas numpy email personaexamplecom
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,me gusta el cafÃ© colombiano es buenÃ­simo cafÃ© ...,me gusta el cafe colombiano es buenisimo cafe ...
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo:...,oferta 3x2 en jabÃ³n lÃ­quido 500ml cÃ³digo a123,oferta 3x2 en jabon liquido 500ml codigo a123
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­ne...","tablas\t, \n espacios y saltos de lÃ­nea.",tablas\t \n espacios y saltos de lÃ­nea,tablas\t \n espacios y saltos de linea
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,telÃ©fono: (57) 300-123-45-67; whatsapp +57 300...,telÃ©fono 57 3001234567 whatsapp 57 300 222 33 44,telefono 57 3001234567 whatsapp 57 300 222 33 44
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la...,direcciÃ³n cll 10 520 medellÃ­n barrio la amÃ©rica,direccion cll 10 520 medellin barrio la america
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦","emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test sÃ­mbolos y otros,emoji test simbolos y otros

0    hola mundo  esto es   un ejemplo visita httpsmiwebcom  datascience
1                                 pandas  numpy   email personaexamplecom
2             me gusta el cafe colombiano es buenisimo cafe colombia juan
3                          oferta 3x2 en jabon liquido 500ml  codigo a123
4                                tablas\t \n espacios   y saltos de linea
5                        telefono 57 3001234567 whatsapp 57 300 222 33 44
6                        direccion cll 10  520 medellin barrio la america
7                                           emoji test  simbolos  y otros
Name: texto_sin_acentos, dtype: object

## 5) Emojis

Crear la columna `texto_sin_emoji` quitando emojis, pictogramas y sÃ­mbolos grÃ¡ficos comunes.

In [ ]:
# Copie su cÃ³digo aca
df_texto["texto_sin_emojis"] = df_texto["texto_sin_acentos"].str.replace(
    r"[^\x00-\x7F]+", "", regex=True
)
df_texto["texto_sin_emojis"]

0    hola mundo  esto es   un ejemplo visita httpsm...
1              pandas  numpy   email personaexamplecom
2    me gusta el cafe colombiano es buenisimo cafe ...
3       oferta 3x2 en jabon liquido 500ml  codigo a123
4             tablas\t \n espacios   y saltos de linea
5     telefono 57 3001234567 whatsapp 57 300 222 33 44
6     direccion cll 10  520 medellin barrio la america
7                        emoji test  simbolos  y otros
Name: texto_sin_emojis, dtype: object

0    Â¡hola mundo!!!  esto es   un ejemplo: visita https://miweb.com  #datascience  :)
1                                        pandas > numpy?   email: persona@example.com
2                  me gusta el cafÃ© colombiano; es buenÃ­simo!!! #cafÃ© #colombia @juan
3                                oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - cÃ³digo: a-123
4                                          tablas\t, \n espacios   y saltos de lÃ­nea.
5                            telÃ©fono: (57) 300-123-45-67; whatsapp +57 300 222 33 44
6                              direcciÃ³n: cll 10 # 5-20; medellÃ­n. barrio: la amÃ©rica
7                                               emoji test: ï¸â€, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦
Name: texto_sin_emoji, dtype: object

## 6) Extrae emails y URLs

En `df_texto`, crea las columnas `email` y `urls` extrayendo emails y URLs del texto original.

**Patrones sugeridos:**
- Email: `[A-Za-z0-9_.+-]+@[A-Za-z0-9-]+\.[A-Za-z0-9.-]+`
- URL: `https?://\S+`

In [ ]:
# Copie su cÃ³digo aca
df_texto["email"] = df_texto["texto"].str.findall(
    r"[A-Za-z0-9_.+-]+@[A-Za-z0-9-]+\.[A-Za-z0-9.-]+"
)
df_texto["url"] = df_texto["texto"].str.findall(r"https?://\S+")

In [ ]:
display(df_texto[["texto", "email", "url"]])

,texto,email,url
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita...,[],[https://miweb.com]
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,[persona@example.com],[]
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #...,[],[]
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO:...,[],[]
4,"TABLAS\t, \n espacios y saltos de lÃ­ne...",[],[]
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300...,[],[]
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La...,[],[]
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",[],[]

,texto,email,urls
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita https://miweb.com #DataScience :),[],[https://miweb.com]
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,[persona@example.com],[]
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan,[],[]
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123,[],[]
4,"TABLAS\t, \n espacios y saltos de lÃ­nea.\r\n",[],[]
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44,[],[]
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica,[],[]
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",[],[]

## 7) Hashtags, menciones y URLs en tweets

En `df_tweets`, crea las columnas `hashtags`, `mentions` y `urls`
extrayendo hashtags, menciones y URLs del texto del tweet.

In [ ]:
# Copie su cÃ³digo aca

df_tweets["hashtag"] = df_tweets["tweet"].str.findall(
    r"[A-Za-z0-9_.+-]+@[A-Za-z0-9-]+\.[A-Za-z0-9.-]+"
)
df_tweets["mentions"] = df_tweets["tweet"].str.findall(r"@(\w+)")
df_tweets["urls"] = df_tweets["tweet"].str.findall(r"https?://\S+")

,tweet,hashtags,mentions,urls
0,RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python,"[#nlp, #python]",[@maria],[http://blog.com/post?id=45]
1,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š,"[#datos, #Python]",[@data_science],[https://example.org]
2,Probando cosas en Jupyter... sin link ni hashtag,[],[],[]
3,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml,"[#nlp, #ml]","[@juan, @ana]",[https://cursos.ai]
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data,[#data],[],[https://foro.com]

## 8) Â¿Es retuit? Limpia el prefijo

Crea la columna `es_rt` (booleano) si el tweet comienza con `RT`. Luego genera la columna `tweet_sin_rt` quitando el prefijo `RT @usuario:` del inicio.

In [21]:
# Copie su cÃ³digo aca

,tweet,hashtags,mentions,urls,es_rt,tweet_sin_rt
0,RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python,"[#nlp, #python]",[@maria],[http://blog.com/post?id=45],True,Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python
1,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š,"[#datos, #Python]",[@data_science],[https://example.org],False,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š
2,Probando cosas en Jupyter... sin link ni hashtag,[],[],[],False,Probando cosas en Jupyter... sin link ni hashtag
3,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml,"[#nlp, #ml]","[@juan, @ana]",[https://cursos.ai],False,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data,[#data],[],[https://foro.com],False,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data

## 9) `tweet_limpio`

Crea `tweet_limpio` removiendo URLs, menciones y hashtags; ademÃ¡s, elimina la puntuaciÃ³n sobrante, quita espacios y pasa a minÃºsculas.

In [23]:
# Copie su cÃ³digo aca

,tweet,tweet_limpio
0,RT @maria: Nuevo post en el blog -> http://blog.com/post?id=45 #nlp #python,nuevo post en el blog
1,Â¡Me encanta Pandas! #datos #Python https://example.org @data_science ğŸ˜Š,me encanta pandas
2,Probando cosas en Jupyter... sin link ni hashtag,probando cosas en jupyter sin link ni hashtag
3,@juan y @ana lanzaron curso de NLP en https://cursos.ai #nlp #ml,y lanzaron curso de nlp en
4,Â¿Pandas o Polars? debÃ¡tanlo aquÃ­ ğŸ‘‰ https://foro.com #data,pandas o polars debÃ¡tanlo aquÃ­

## 10) Talla en `df_productos`

Extrae y estandariza la talla:
- Letras: `XS, S, M, L, XL, XXL`, o `TU` (talla Ãºnica).
- NÃºmeros: captura como `talla_num`.
Crea la columna`talla_std` (letras) y `talla_num` (numÃ©rica).

In [25]:
# Copie su cÃ³digo aca

                 producto        precio talla_std  talla_num
0          Camisa talla M     $1.234,50         M        NaN
1             PantalÃ³n-XL        USD 45        XL        NaN
2       Zapato, Talla: 42       30,00 â‚¬       NaN       42.0
3                 Blusa s        25.000         S        NaN
4            Medias 10-12           $ 0       NaN       10.0
5            Polo Talla l    S/. 120.90         L        NaN
6            Vestido - 36     COP 9.990       NaN       36.0
7  Sombrero (talla Ãšnica)  AR$ 2.550,00        TU        NaN

## 11) Extraer de precios

Convierte la columna `precio` a numÃ©rico (`precio_num`) independiente del formato (`$1.234,50`, `USD 45`, `30,00 â‚¬`, `COP 9.990`, etc.).

In [27]:
# Copie su cÃ³digo aca

                 producto        precio talla_std  talla_num  precio_num
0          Camisa talla M     $1.234,50         M        NaN     1234.50
1             PantalÃ³n-XL        USD 45        XL        NaN       45.00
2       Zapato, Talla: 42       30,00 â‚¬       NaN       42.0       30.00
3                 Blusa s        25.000         S        NaN       25.00
4            Medias 10-12           $ 0       NaN       10.0        0.00
5            Polo Talla l    S/. 120.90         L        NaN         NaN
6            Vestido - 36     COP 9.990       NaN       36.0        9.99
7  Sombrero (talla Ãšnica)  AR$ 2.550,00        TU        NaN     2550.00

## 12) Filtrado por texto

Filtra el DataFrame `df_productos` para mostrar solo filas cuyo `producto` contenga **camisa** o **pantalÃ³n**, ignorando acentos y mayÃºsculas/minÃºsculas.

In [29]:
# Copie su cÃ³digo aca

         producto     precio talla_std  talla_num  precio_num
0  Camisa talla M  $1.234,50         M        NaN      1234.5
1     PantalÃ³n-XL     USD 45        XL        NaN        45.0

## 13) Limpieza de nombres propios

En el DataFrame `df_personas`, crea `nombre_limpio` en `df_personas`:
- Quita parÃ©ntesis y su contenido.
- Reemplaza guiones por espacio y elimina espacios extra.
- Aplica *title case* y conserva conectores (`de`, `del`, `la`, `y`) en minÃºscula.

In [31]:
# Copie su cÃ³digo aca

0      Ana MarÃ­a Lopez
1           Juan Perez
2          Ã‘andÃº GÃ³mez
3               Miguel
4    MÃ³nica de la Cruz
5         Luis Delgado
Name: nombre_limpio, dtype: object

## 14) Normaliza respuestas categÃ³ricas

En el DataFrame `df_personas`, convierte `categoria` en booleano `categoria_bool` donde cualquier variante de **sÃ­** (con/ sin tilde) sea `True`; el resto `False`.

In [33]:
# Copie su cÃ³digo aca

,nombre,categoria,direccion,id_raw,nombre_limpio,categoria_bool
0,ana MarÃ­a LOPEZ,SÃ­,"Calle 45 # 12-34, BogotÃ¡",abc-0001,Ana MarÃ­a Lopez,True
1,Juan perez,si,Av. Siempre Viva 742 - Lima,abc 001,Juan Perez,True
2,Ã‘andÃº GÃ³mez,SI,Cll. 10 No. 5-20 MedellÃ­n,ABC0002,Ã‘andÃº GÃ³mez,True
3,Miguel (Soporte),No,"Cra 7a # 45-60, BogotÃ¡",Abc_003,Miguel,False
4,MÃ“NICA de la CRUZ,â€”,Av. 9 #12-34 Cali,abc-00004,MÃ³nica de la Cruz,False
5,luis-delgado,None,"Av. Insurgentes Sur 1234, CDMX",ABC-0005,Luis Delgado,False

## 15) Ciudad desde la direcciÃ³n

En el DataFrame `df_personas`, Extrae la **ciudad** en una columna `ciudad`

In [35]:
# Copie su cÃ³digo aca

,nombre,categoria,direccion,id_raw,nombre_limpio,categoria_bool,ciudad
0,ana MarÃ­a LOPEZ,SÃ­,"Calle 45 # 12-34, BogotÃ¡",abc-0001,Ana MarÃ­a Lopez,True,BogotÃ¡
1,Juan perez,si,Av. Siempre Viva 742 - Lima,abc 001,Juan Perez,True,Lima
2,Ã‘andÃº GÃ³mez,SI,Cll. 10 No. 5-20 MedellÃ­n,ABC0002,Ã‘andÃº GÃ³mez,True,MedellÃ­n
3,Miguel (Soporte),No,"Cra 7a # 45-60, BogotÃ¡",Abc_003,Miguel,False,BogotÃ¡
4,MÃ“NICA de la CRUZ,â€”,Av. 9 #12-34 Cali,abc-00004,MÃ³nica de la Cruz,False,Cali
5,luis-delgado,None,"Av. Insurgentes Sur 1234, CDMX",ABC-0005,Luis Delgado,False,CDMX

## 16) Normaliza y valida IDs

En el DataFrame `df_personas`, a partir de `id_raw`, crea la columna `id_norm` con formato `ABC-0001` (tres letras + guion + 4 dÃ­gitos) y `id_valido` (True/False).

In [37]:
# Copie su cÃ³digo aca

      id_raw   id_norm  id_valido
0   abc-0001  ABC-0001       True
1    abc 001  ABC-0001       True
2    ABC0002  ABC-0002       True
3    Abc_003  ABC-0003       True
4  abc-00004  ABC-0004       True
5   ABC-0005  ABC-0005       True

## 17) Mini *pipeline* de limpieza general

Escribe una funciÃ³n `limpia_basica(s)` que: ponga el texto en minuscula, quite acentos, URLs, menciones y hashtags, puntuaciÃ³n, dÃ­gitos y colapse espacios. AplÃ­cala a `df_texto['texto']` y guarda en `texto_limpio_final`.

In [39]:
# Copie su cÃ³digo aca

,texto,texto_limpio_final
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita https://miweb.com #DataScience :),hola mundo esto es un ejemplo visita
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas numpy email persona com
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan,me gusta el cafe colombiano es buenisimo
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123,oferta x en jabon liquido ml codigo a
4,"TABLAS\t, \n espacios y saltos de lÃ­nea.\r\n",tablas espacios y saltos de linea
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44,telefono whatsapp
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica,direccion cll medellin barrio la america
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test simbolos y otros

## 18)Â¿QuÃ© tanto cambiÃ³ el texto?

En el dataframe `df_texto`, 

Cual es la diferencia entre la longitud original (`len_raw`) y la longitud tras la limpieza (`len_clean`)?

In [41]:
# Copie su cÃ³digo aca

,texto,texto_limpio_final,len_raw,len_clean
0,Â¡Hola Mundo!!! Esto es un EJEMPLO: visita https://miweb.com #DataScience :),hola mundo esto es un ejemplo visita,84,36
1,Pandas > numpy? ğŸ¤” Email: persona@example.com,pandas numpy email persona com,48,30
2,Me gusta el cafÃ© colombiano; es buenÃ­simo!!! #CafÃ© #Colombia @juan,me gusta el cafe colombiano es buenisimo,66,40
3,Oferta!!! 3x2 en jabÃ³n lÃ­quido 500ml - CÃ“DIGO: A-123,oferta x en jabon liquido ml codigo a,52,37
4,"TABLAS\t, \n espacios y saltos de lÃ­nea.\r\n",tablas espacios y saltos de linea,48,33
5,TelÃ©fono: (57) 300-123-45-67; Whatsapp +57 300 222 33 44,telefono whatsapp,56,17
6,DirecciÃ³n: Cll 10 # 5-20; MedellÃ­n. Barrio: La AmÃ©rica,direccion cll medellin barrio la america,54,40
7,"Emoji test: ğŸ˜€ğŸ™ŒğŸ½ğŸ³ï¸â€ğŸŒˆ, sÃ­mbolos Â©Â®â„¢ y otrosâ€¦",emoji test simbolos y otros,42,27

### Guardar de resultados

Guarda el dataframe df_texto en parquet con `df_texto.to_parquet('archivo.parquet', index=False)`.

**Phd. Jose R. Zapata**
- [https://joserzapata.github.io/](https://joserzapata.github.io/)
- [https://www.linkedin.com/in/jose-ricardo-zapata-gonzalez/](https://www.linkedin.com/in/jose-ricardo-zapata-gonzalez/)